bcrypt
beautifulsoup4
chromadb
fastapi
langchain
langchain-community
langchain-core
langchain-mistralai
numpy
openai
passlib[bcrypt]
pypdf
pypdf2
python-dotenv
python-jose
python-multipart
rank-bm25
requests
sentence-transformers
mistralai>=1.0.0
pillow
itsdangerous